
body{
    background-color: red;
    color: white;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', arial, 'Trebuchet MS', sans-serif;
}

footer{
    display: flex;
    justify-content: center;
    
}.contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    height: 300px;
    width: 300px;
}
footer{
    display: flex;
    justify-content: center;
    
}

h1{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;

}
p{
    display: flex;
    justify-content: center;
    
}
main{
    justify-content: center;
    
}
strong {
    color: rgb(60, 0, 255);
    font-family:'Gill Sans', 'Gill Sans MT', arial, 'Trebuchet MS', sans-serif;
}
a{
    display: flex;
    justify-content: center;
    
}
.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.boton {
    background-color: rgb(60, 0, 255);
    color: black;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    
}

h1{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;

}
p{
    display: flex;
    justify-content: center;
    
}

strong {
    color: rgb(260, 0, 255);
    font-family:'Gill Sans', 'Gill Sans MT', arial, 'Trebuchet MS', sans-serif;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.boton {
    background-color: rgb(60, 0, 255);
    color: black;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    
}